---
import '../styles/main.css'

const heading = "TripPlanIt";
const subheading = "Your personal travel assistant";
const subheading2 = "Organize all your travel documents and data in one place.";
const appIcon = "/images/trip-plan-it-logo-black.png";
const appScreenshot = "/images/trip-plan-it-trip-manager.png";
const footerImage = "/images/banners.svg";
const badges = [
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "/images/app-store-badge.svg",
		ariaLabel: "apple store",
		alt: "Appstore badge for tripPlanIt. Travel manager"
	},
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "/images/google-play-badge.png",
		ariaLabel: "google play store",
		alt: "Google playstore badge for tripPlanIt. Travel manager"

	},
];

const pageTitle = "TripPlanIt"
const favicon = "/images/favicon.svg"
---

<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVV9GZNHVC"></script>
		<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-ZVV9GZNHVC');
		</script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<main>
				<div class="text-container">
					<img src={appIcon} class="app-icon" alt="TripPlanIt logo. Suitcase. Plan your trip">
					<h1 class="heading">{heading}</h1>
					<h2 class="subheading">{subheading}</h2>
					<h2 class="subheading2">{subheading2}</h2>
					<div class="badge-container" aria-disabled="true">
						{badges.map(badge => (
							<div>
								<a aria-label={badge.ariaLabel}>
									<img src={badge.image} class="badge", alt={badge.alt} />
								</a>
							</div>
						))}
					</div>
				</div>
				<div>
					<img src={appScreenshot} class="app-screenshot" alt="Plan your trip. Organize your files">
				</div>
			</main>
			<footer>
			</footer>
		</div>
	</body>
</html>
